.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  height: 60px;
  position: relative;
}

.input {
  color: black;
  height: 26px;
  padding: 3px 10px;
  border-radius: 5px;
}

.label {
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.labelMove {
  margin: 0px;
  transform: translateY(23px) translateX(50px);
  color: black;
}