.container {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  column-gap: 50px;
  row-gap: 50px;
}

.backToUp {
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  right: 0px;
  bottom: 20px;
  width: 50px;
  height: 30px;
  background-color: var(--text--color);
}

.backToUpIcon {
  transform: rotateZ(-90deg);
  height: 15px;
  fill: var(--background--color);
}