:root {
  --bg--img--home: url("../public/fond_code_ligth.webp");
  --text--color: black;
  --background--color: rgb(221, 221, 221);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg--img--home: url("../public/fond_code_dark.webp");
    --text--color: rgb(221, 221, 221);
    --background--color: rgb(36, 36, 36);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text--color);
}

html,
body {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font--lobster);
}

body {
  font-family: var(--font--courgette);
  background-image: var(--bg--img--home);
  background-repeat: repeat;
}

a {
  text-decoration: none;
}