.headband, .title {
  --background--color--headband: rgb(221, 221, 221);
}

@media (prefers-color-scheme: dark) {
  .headband, .title {
    --background--color--headband: rgba(0, 0, 0, 0.9);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.carousel {
  position: relative;
  height: 450px;
  width: 300px;
  border: ridge 2px var(--text--color);
  overflow: hidden;
}

.headband {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 30px;
  color: var(--text--color);
  background-color: var(--background--color--headband);
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 30px;
  color: var(--text--color--light);
  background-color: var(--background--color--headband);
}

.dotsScroll {
  height: 30px;
  bottom: 0px;
}

.dotScroll {
  width: 50px;
  cursor: pointer;
}

.selected {
  fill: red;
}

.arrow {
  position: absolute;
  fill: white;
  width: 40px;
  height: 80px;
  top: calc(50% - 40px);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25%;
  cursor: pointer;
}

.leftArrow {
  left: -5px;
}

.rightArrow {
  right: -5px;
}

.images {
  position: relative;
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(-302px);
}

.image {
  position: relative;
  width: 300px;
  height: 100%;
}

.animFF {
  transform: translateX(-602px);
  transition: all 0.5s ease-in-out;
}

.animFR {
  transform: translateX(-2px);
  transition: all 0.5s ease-in-out;
}