.FormContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.buttons {
  grid-area: buttons;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (width > 480px) {
  .FormContainer {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90px 90px 90px 260px 90px;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 960px;
    grid-template-areas: 
      "lastName firstName"
      "email tel"
      "subject subject"
      "message message"
      "buttons buttons";
  }
}